<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="Filepath" value="E:\FTP\K-Pharmacy\ProductionFiles\Optum\Pregmed"/>
    <add key="ServerName" value="Testserver"/>
    <add key="RowCount" value="500"/>
  </appSettings>
  
  <connectionStrings>
  </connectionStrings>
</configuration>